/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Light gray background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px; /* Restrict form width */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-description {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

/* Label and Input Fields */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #4CAF50; /* Green focus border */
}

/* Button Styling */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-login:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
}

/* Create Account Link */
.btn-create-account {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}
/* Forgot Password Link */
.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #007BFF; /* Orange color */
    text-decoration: none;
}

.forgot-password {
    text-decoration: underline;
}

.btn-create-account:hover {
    text-decoration: underline;
}
